{%- if section.settings.show_steps != blank -%}
  {% for schritte in article.metafields.custom.schritte_mehrfach.value %}
    <div class="flex flex-col gap-8 mt-4 mb-4 with-separator">
      <h2 class="mb-0">{{ schritte.titel }}</h2>

      {%- if schritte.youtube_video_id != blank -%}
        <iframe
          class="aspect-video w-full"
          src="https://www.youtube.com/embed/{{ schritte.youtube_video_id }}?playsinline=1&autoplay=0&playlist={{ schritte.youtube_video_id }}&enablejsapi=1&rel=0&modestbranding=1&origin={{ 'https://' | append: request.host | url_encode }}"
          allow="autoplay; encrypted-media"
          allowfullscreen="allowfullscreen"></iframe>
      {%- endif -%}

      {%- if schritte.beschreibung != blank -%}
        <div>{{ schritte.beschreibung | metafield_tag }}</div>
      {%- endif -%}

      {%- if schritte.bild != blank -%}
        <img
          class="object-cover !my-0 mx-auto"
          alt="{{ schritte.bild.alt | escape }}"
          width="{{ schritte.bild.width }}"
          height="{{ schritte.bild.height }}"
          loading="lazy"
          src="{{ schritte.bild | img_url: '600x' }}">
      {%- endif -%}

      {%- if schritte.ubersicht != blank or schritte.zutaten != blank -%}
        <div class="article__content grid md:grid-cols-2 gap-12 my-6">
          {%- if schritte.ubersicht != blank -%}
            <div class="rte flex flex-col gap-3 ">
              <h3>{{ 'article.general.overview' | t }}</h3>
              {{ schritte.ubersicht | metafield_tag }}
            </div>
          {%- endif -%}
          {%- if schritte.zutaten != blank -%}
            <div class="rte flex flex-col gap-3">
              <h3>{{ 'article.general.ingredients' | t }}</h3>
              {{ schritte.zutaten | metafield_tag }}
            </div>
          {%- endif -%}
        </div>
      {%- endif -%}


      <div class="article__content grid md:grid-cols-2 gap-12 mb-4">
        {% for schritt in schritte.schritte.value %}
          <div class="rte">
            <div class="flex flex-col h-full p-4 pt-6 border rounded-lg shadow-md gap-4 relative border-solid border-gray-200">
              {% comment %}
                                                                                                                                                                                                                                                                <div class="rounded-t-lg absolute top-0 right-0 object-cover w-full -z-10 !my-0 h-48 overflow-hidden">
                                                                                                                                                                                                                                                                <img
                                                                                                                                                                                                                                                                class="object-cover w-full !my-0 blur-md"
                                                                                                                                                                                                                                                                alt="{{ schritt.bild.alt | escape }}"
                                                                                                                                                                                                                                                                width="{{ schritt.bild.width }}"
                                                                                                                                                                                                                                                                height="{{ schritt.bild.height }}"
                                                                                                                                                                                                                                                                loading="lazy"
                                                                                                                                                                                                                                                                src="{{ schritt.bild | img_url: '210x' }}">
                                                                                                                                                                                                                                                                <div
                                                                                                                                                                                                                                                                class="
                                                                                                                                                                                                                                                                absolute top-0 right-0 z-10 block
                                                                                                                                                                                                                                                                w-full h-full bg-gradient-to-t from-white to-transparent
                                                                                                                                                                                                                                                                "></div>
                                                                                                                                                                                                                                                                </div>
                                                                                                                                                                                                                                {% endcomment %}
              <div class="flex gap-4 items-center">
                {% comment %}
                                                                                                                                                                                                                                                                                                <div
                                                                                                                                                                                                                                                                                                class="
                                                                                                                                                                                                                                                                                                absolute shadow-xl -top-4 -left-4 font-bold
                                                                                                                                                                                                                                                                                                text-2xl inline-flex items-center justify-center
                                                                                                                                                                                                                                                                                                h-14 w-14 rounded-full bg-[#c8d30e] text-white
                                                                                                                                                                                                                                                                                                ">
                                                                                                                                                                                                                                                                                                {{ schritt.nummer }}
                                                                                                                                                                                                                                                                                                </div>
                                                                                                                                                                                                                                                                {% endcomment %}
                <div class="text-2xl font-semibold ml-2">
                  {{ schritt.titel }}
                </div>
              </div>
              <div>
                <img
                  class="object-cover w-full !my-0"
                  alt="{{ schritt.bild.alt | escape }}"
                  width="{{ schritt.bild.width }}"
                  height="{{ schritt.bild.height }}"
                  loading="lazy"
                  src="{{ schritt.bild | img_url: '500x' }}">
              </div>
              <div>{{ schritt.beschreibung | metafield_tag }}</div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
{% endif %}