{%- if section.settings.show_steps != blank -%}
    {% for schritte in article.metafields.custom.schritte_mehrfach.value %}
        <div class="flex flex-col gap-8 mt-4 mb-4">
            <h2>{{schritte.titel}}</h2>
            <div class="article__content grid md:grid-cols-2 gap-12 mb-4">
                {% for schritt in schritte.schritte.value %}
                    <div class="rte">
                        <div class="flex flex-col h-full p-4 pt-6 border rounded-lg shadow-md gap-4 relative border-solid border-gray-200">
                            <div class="rounded-t-lg absolute top-0 right-0 object-cover w-full -z-10 !my-0 h-48 overflow-hidden">
                            <img
                                class="object-cover w-full !my-0 blur-md"
                                alt="{{ schritt.bild.alt | escape }}"
                                width="{{ schritt.bild.width }}"
                                height="{{ schritt.bild.height }}"
                                loading="lazy"
                                src="{{ schritt.bild | img_url: '210x' }}">

                            <div
                                class="
                                absolute top-0 right-0 z-10 block
                                w-full h-full bg-gradient-to-t from-white to-transparent
                                "></div>
                            </div>

                            <div class="flex gap-4 items-center">
                            <div
                                class="
                                absolute shadow-xl -top-4 -left-4 font-bold
                                text-2xl inline-flex items-center justify-center
                                h-14 w-14 rounded-full bg-[#c8d30e] text-white
                                ">
                                {{ schritt.nummer }}
                            </div>
                            <div class="text-2xl font-semibold ml-12">
                                {{ schritt.titel }}
                            </div>
                            </div>
                            <div>
                            <img
                                class="object-cover w-full !my-0"
                                alt="{{ schritt.bild.alt | escape }}"
                                width="{{ schritt.bild.width }}"
                                height="{{ schritt.bild.height }}"
                                loading="lazy"
                                src="{{ schritt.bild | img_url: '500x' }}">
                            </div>
                            <div>{{ schritt.beschreibung | metafield_tag }}</div>
                        </div>
                    </div>
                {% endfor %}
                
            </div>
        </div>
    {% endfor %}
{% endif %}