<div class="lb-pdp-benefits">
  {% if product.metafields.custom.usp1 %}
  <div>
    <img
      src="https://cdn.shopify.com/s/files/1/0632/3139/3965/files/64e3d97d73aa2dbb4d685969_check-benefits.png?v=1700075283"
    />
    <p>{{ product.metafields.custom.usp1 }}</p>
  </div>
  {% endif %}
  {% if product.metafields.custom.usp2 %}
  <div>
    <img
      src="https://cdn.shopify.com/s/files/1/0632/3139/3965/files/64e3d97d73aa2dbb4d685969_check-benefits.png?v=1700075283"
    />
    <p>{{ product.metafields.custom.usp2 }}</p>
  </div>
  {% endif %} 
  {% if product.metafields.custom.usp3 %}
  <div>
    <img
      src="https://cdn.shopify.com/s/files/1/0632/3139/3965/files/64e3d97d73aa2dbb4d685969_check-benefits.png?v=1700075283"
    />
    <p>{{ product.metafields.custom.usp3 }}</p>
  </div>
  {% endif %} 
  {% if product.metafields.custom.usp4 %}
  <div>
    <img
      src="https://cdn.shopify.com/s/files/1/0632/3139/3965/files/64e3d97d73aa2dbb4d685969_check-benefits.png?v=1700075283"
    />
    <p>{{ product.metafields.custom.usp4 }}</p>
  </div>
  {% endif %} 
  {% if product.metafields.custom.usp5 %}
  <div>
    <img
      src="https://cdn.shopify.com/s/files/1/0632/3139/3965/files/64e3d97d73aa2dbb4d685969_check-benefits.png?v=1700075283"
    />
    <p>{{ product.metafields.custom.usp5 }}</p>
  </div>
  {% endif %} 
  {% if product.metafields.custom.usp6 %}
  <div>
    <img
      src="https://cdn.shopify.com/s/files/1/0632/3139/3965/files/64e3d97d73aa2dbb4d685969_check-benefits.png?v=1700075283"
    />
    <p>{{ product.metafields.custom.usp6 }}</p>
  </div>
  {% endif %}
</div>

<style>
  .lb-pdp-benefits {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .lb-pdp-benefits div {
    font-size: 14px !important; /* Change font size */
    line-height: 18px !important;
    margin-bottom: 9px !important;
    display: flex !important;
    align-items: center !important;
    overflow: hidden !important;
  }
  .lb-pdp-benefits img {
    max-width: 24px !important;
    margin-right: 9px !important;
  }
  .lb-pdp-benefits p {
    width: 100% !important;
    display: block !important;
    margin: 0px !important;
  }
</style>