{%- comment -%}
  Parameters:
  - menu {Object} - Menu object.
  - component_id {String} - Unique id for this instance of the component.
  - level {Integer} - The level of navigation (must be either 1, 2 or 3)
  - use_product_image {String} - Whether the image for any collection should use the first product in the collection
  - default_text {String} - The default text for the select
  - display {String} - How the options should display. Possible options: 'image', 'text', 'image_text'
  - boxed {Boolean} - Shows select options as boxes on large screens
  - image_ratio {Number} - The aspect ratio of large images
  - image_fit {String} - Cover or contain (optional)

  Usage:
  {% render 'quick-nav-select', menu: menu, component_id: component_id, level: 1, default_text: "Choose" %}
{%- endcomment -%}

{%- liquid
  assign id = component_id | append: '_' | append: level
  assign counter = 0
  assign small_image_size = 80
  assign large_image_size = 200
-%}
{%- capture options -%}
  {%- for link in menu.links -%}
    {%- assign image_object = null -%}
    {%- if level == 1 -%}
      {%- liquid
        if link.type == "collection_link" or link.url == "/collections/all"
          assign is_collection = true
        else
          assign is_collection = false
        endif
      %}

      <li class="custom-select__option quick-nav__option text-start hover:cursor-pointer hover:bg-neutral-100 transition-colors flex items-center js-option{% if display contains "image" and is_collection and settings.blend_collection_images %} image-blend{% elsif display contains "image" and link.type == "product_link" and settings.blend_product_images %} image-blend{% endif %}"
          id="{{ id }}-opt-{{ counter }}" role="option"
          data-value="{{ link.handle }}"
          data-url="{{ link.url }}"
          {% if is_collection %}data-is-collection="true"{% endif %}
          {% if display == "image" %} aria-label="{{ link.title | escape }}"{% endif %}>
        <span class="quick-nav__option-content flex items-center pointer-events-none{% if display == "image" %} justify-center{% endif %}">
          {%- if display contains "image" -%}
            {%- liquid
              if use_product_image and is_collection
                if link.url == "/collections/all"
                  assign image_object = collections["all"].all_products.first.featured_media.preview_image
                else
                  assign image_object = collections[link.object.handle].all_products.first.featured_media.preview_image
                endif
              endif

              capture image
                echo image_object | default: link.object | image_url
              endcapture
            -%}
            {%- unless image contains "Liquid error" -%}
              <div{% if boxed %} class="md:hidden"{% endif %}>
                <div class="media relative quick-nav__img-thumb" style="padding-top: {{ 1 | divided_by: image_ratio | times: 100 }}%;">
                  <img src="{{ image_object | default: link.object | image_url: width: small_image_size }}" class="img-fit{% if image_fit == "contain" %} img-fit--contain{% endif %}" loading="lazy" width="{{ small_image_size }}" height="auto"/>
                </div>
              </div>
              {%- if boxed -%}
                <div class="media relative quick-nav__img-thumb hidden md:block" style="padding-top: {{ 1 | divided_by: image_ratio | times: 100 }}%;">
                  <img src="{{ image_object | default: link.object | image_url: width: large_image_size }}" class="img-fit{% if image_fit == "contain" %} img-fit--contain{% endif %}" loading="lazy" width="{{ large_image_size }}" height="auto"/>
                </div>
              {%- endif -%}
            {%- endunless -%}
          {%- endif -%}
          <span{% if display == "image" %} class="md:hidden"{% endif %}>{{ link.title }}</span>
        </span>
      </li>
      {%- assign counter = counter | plus: 1 -%}
    {%- else -%}
      {%- for child_link in link.links -%}
        {%- liquid
          if child_link.type == "collection_link" or child_link.url == "/collections/all"
            assign is_collection = true
          else
            assign is_collection = false
          endif
        %}
        {%- if level == 2 -%}
          <li class="custom-select__option quick-nav__option flex items-center hover:cursor-pointer hover:bg-neutral-100 transition-colors js-option{% if display contains "image" and is_collection and settings.blend_collection_images %} image-blend{% elsif display contains "image" and child_link.type == "product_link" and settings.blend_product_images %} image-blend{% endif %}"
              id="{{ id }}-opt-{{ counter }}" role="option"
              data-value="{{ link.handle }}_{{ child_link.handle }}"
              data-parent-handle="{{ link.handle }}"
              data-url="{{ child_link.url }}"
              {% if is_collection %}data-is-collection="true"{% endif %}
          {% if display == "image" %} aria-label="{{ child_link.title | escape }}"{% endif %}>
            <span class="quick-nav__option-content flex items-center pointer-events-none{% if display == "image" %} justify-center{% endif %}">
              {%- if display contains "image" -%}
                {%- liquid
                  if use_product_image and is_collection
                    if child_link.url == "/collections/all"
                      assign image_object = collections["all"].all_products.first.featured_media.preview_image
                    else
                      assign image_object = collections[child_link.object.handle].all_products.first.featured_media.preview_image
                    endif
                  endif

                  capture image
                    echo image_object | default: child_link.object | image_url
                  endcapture
                -%}
                {%- unless image contains "Liquid error" -%}
                  <div{% if boxed %} class="md:hidden"{% endif %}>
                    <div class="media relative quick-nav__img-thumb" style="padding-top: {{ 1 | divided_by: image_ratio | times: 100 }}%;">
                      <img src="{{ image_object | default: child_link.object | image_url: width: small_image_size }}" class="img-fit{% if image_fit == "contain" %} img-fit--contain{% endif %}" loading="lazy" width="{{ small_image_size }}" height="auto"/>
                    </div>
                  </div>
                  {%- if boxed -%}
                    <div class="media relative quick-nav__img-thumb hidden md:block" style="padding-top: {{ 1 | divided_by: image_ratio | times: 100 }}%;">
                      <img src="{{ image_object | default: child_link.object | image_url: width: large_image_size }}" class="img-fit{% if image_fit == "contain" %} img-fit--contain{% endif %}" loading="lazy" width="{{ large_image_size }}" height="auto"/>
                    </div>
                  {%- endif -%}
                {%- endunless -%}
              {%- endif -%}
              <span{% if display == "image" %} class="md:hidden"{% endif %}>{{ child_link.title }}</span>
            </span>
          </li>
          {%- assign counter = counter | plus: 1 -%}
        {%- elsif level == 3 %}
          {%- for grandchild_link in child_link.links -%}
            {%- liquid
              if grandchild_link.type == "collection_link" or grandchild_link.url == "/collections/all"
                assign is_collection = true
              else
                assign is_collection = false
              endif
            %}
            <li class="custom-select__option quick-nav__option flex items-center hover:cursor-pointer hover:bg-neutral-100 transition-colors js-option{% if display contains "image" and is_collection and settings.blend_collection_images %} image-blend{% elsif display contains "image" and grandchild_link.type == "product_link" and settings.blend_product_images %} image-blend{% endif %}"
                id="{{ id }}-opt-{{ counter }}" role="option"
                data-value="{{ grandchild_link.handle }}"
                data-parent-handle="{{ link.handle }}_{{ child_link.handle }}"
                data-url="{{ grandchild_link.url }}"
                {% if is_collection %}data-is-collection="true"{% endif %}
              {% if display == "image" %} aria-label="{{ grandchild_link.title | escape }}"{% endif %}>
              <span class="quick-nav__option-content flex items-center pointer-events-none{% if display == "image" %} justify-center{% endif %}">
                {%- if display contains "image" -%}
                  {%- liquid
                    if use_product_image and is_collection
                      if grandchild_link.url == "/collections/all"
                        assign image_object = collections["all"].all_products.first.featured_media.preview_image
                      else
                        assign image_object = collections[grandchild_link.object.handle].all_products.first.featured_media.preview_image
                      endif
                    endif

                    capture image
                      echo image_object | default: grandchild_link.object | image_url
                    endcapture
                  -%}
                  {%- unless image contains "Liquid error" -%}
                    <div{% if boxed %} class="md:hidden"{% endif %}>
                      <div class="media relative quick-nav__img-thumb" style="padding-top: {{ 1 | divided_by: image_ratio | times: 100 }}%;">
                        <img src="{{ image_object | default: grandchild_link.object | image_url: width: small_image_size }}" class="img-fit{% if image_fit == "contain" %} img-fit--contain{% endif %}" loading="lazy" width="{{ small_image_size }}" height="auto"/>
                      </div>
                    </div>
                    {%- if boxed -%}
                      <div class="media relative quick-nav__img-thumb hidden md:block" style="padding-top: {{ 1 | divided_by: image_ratio | times: 100 }}%;">
                        <img src="{{ image_object | default: grandchild_link.object | image_url: width: large_image_size }}" class="img-fit{% if image_fit == "contain" %} img-fit--contain{% endif %}" loading="lazy" width="{{ large_image_size }}" height="auto"/>
                      </div>
                    {%- endif -%}
                  {%- endunless -%}
                {%- endif -%}
                <span{% if display == "image" %} class="md:hidden"{% endif %}>{{ grandchild_link.title }}</span>
              </span>
            </li>
            {%- assign counter = counter | plus: 1 -%}
          {%- endfor -%}
        {%- endif -%}
      {%- endfor -%}
    {%- endif -%}
  {%- endfor -%}
{%- endcapture -%}

{%- if counter > 0 -%}
  <custom-select
    data-level="{{ level }}"
    {% if boxed %}
      class="custom-select--boxed"
    {% endif %}>
    <div class="border border-neutral-200 w-full border-solid px-2 py-2 custom-select{% if display == "text" %} custom-select--text{% elsif display contains "image" %} custom-select--image{% endif %} custom-select--label-inside relative w-full mb-4 no-js-hidden">
      <button
        class="custom-select__btn quick-nav__btn input items-center flex w-full justify-between"
        type="button"
        aria-expanded="false"
        aria-haspopup="listbox"
        {% unless level == 1 %}
          disabled="disabled"
        {% endunless %}>
        <span
          class="flex flex-wrap"
          data-default-text="{{ default_text | escape }}">
          {{- default_text -}}
        </span>
        <svg
          width="20"
          height="20"
          viewBox="0 0 24 24"
          class="icon"
          role="presentation"
          focusable="false"
          aria-hidden="true">
          <path d="M20 8.5 12.5 16 5 8.5" stroke="currentColor" stroke-width="1.5" fill="none"/>
        </svg>
      </button>

      <ul
        class="quick-nav__listbox pl-4 bg-white shadow-2xl md:w-auto w-full pb-2 md:border-none border border-solid border-neutral-200 space-y-4 md:space-y-0 md:p-10 rounded-lg custom-select__listbox absolute invisible{% if boxed %} quick-nav__listbox--boxed{% endif %} quick-nav__listbox--{{ display }}"
        role="listbox"
        tabindex="-1"
        aria-hidden="true"
        aria-activedescendant="{{ id }}-opt-default"
        data-link-count="{% if counter < 5 %}{{ counter }}{% else %}loads{% endif %}"
        style="visibility: hidden; z-index: 10">
        <li
          class="quick-nav__default-option custom-select__option flex items-center js-option p-4 border rounded-lg"
          id="{{ id }}-opt-default"
          role="option"
          data-value=""
          aria-selected="true"
          tabindex="-1">
          <span class="flex flex-wrap pointer-events-none"></span>
        </li>

        {{ options }}
      </ul>
    </div>
  </custom-select>
{%- endif -%}
