<product-recommendations
  section-id="{{ section.id }}"
  intent="related"
  product-id="{{ product.id }}"
  recommendations-count="1"
  class="section {% unless blends_with_background %}section--flush{% endunless %}">
  {%- if recommendations.performed and recommendations.products.size > 0 -%}
    {% assign recommended_product = recommendations.products.first %}

    <div
      class="flex p-2 space-x-4 max-w-sm"
      style="background-color: {{ settings.background_color }};">
      <div>
        <img
          src="{{ recommended_product.featured_image | img_url: '100x100' }}"
          height="100"
          width="100"
          loading="lazy"
          alt="{{ recommended_product.featured_image.alt | escape }}">
      </div>

      <div class="flex flex-col justify-center">
        <div class="font-bold text-neutral-900">
          {{ recommended_product.title }}
        </div>

        <div class="text-neutral-600">
          {{ recommended_product.price | money }}

          {% if recommended_product.compare_at_price %}
            <div class="line-through text-primary-400">
              {{ recommended_product.compare_at_price | money }}
            </div>
          {% endif %}
        </div>

        <div class="mt-4">
          <a
            href="{{ recommended_product.url }}"
            class="bg-primary-400 text-white button button--primary">
            {{ settings.btn_label }}
          </a>
        </div>
      </div>
    </div>

    </div>
    </div>
  {%- endif -%}
</product-recommendations>
