{%- comment -%}
  ------------------------------------------------------------------------------------------------------------------------
  NOTE TO DEVELOPERS: welcome to Focal theme! We hope that you will enjoy editing this theme as much as we did for
    developing it. We have put a lot of work to make this theme as developer friendly as possible by offering you
    hooks to integrate into critical parts of the theme. You will find the complete technical documentation (including
    all events, dependencies...) in the "custom.js" file, located in the Assets folder.
  ------------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}

<!doctype html>

{%- assign direction = 'ltr' -%}
{%- case request.locale.iso_code -%}
  {%- when 'ar',
    'arc',
    'dv',
    'fa',
    'ha',
    'he',
    'kwh',
    'ks',
    'ku',
    'ps',
    'ur',
    'yi'
  -%}
    {%- assign direction = 'rtl' -%}
{%- endcase -%}

<html
  class="no-js"
  lang="{{ request.locale.iso_code }}"
  dir="{{ direction }}">
  <head>
    <meta charset="utf-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, maximum-scale=1.0">
    <meta
      name="theme-color"
      content="{{ settings.header_background }}">

    <title>
      {% if page_title == blank -%}
        {{- shop.name -}}
      {%- else -%}
        {{- page_title -}}
        {%- if current_page != 1 %}
          &ndash; {{ 'general.meta.page' | t: page: current_page -}}
        {%- endif -%}
      {%- endif %}
    </title>

    {%- if page_description -%}
      <meta
        name="description"
        content="{{ page_description | escape }}">
    {%- endif -%}

    <link
      rel="canonical"
      href="{{ canonical_url }}">

    {%- if settings.favicon -%}
      <link
        rel="shortcut icon"
        href="{{ settings.favicon | img_url: '96x96' }}"
        type="image/png">
    {%- endif -%}

    {%- comment -%}Few prefech to increase performance on commonly used third-parties{%- endcomment -%}
    <link
      rel="preconnect"
      href="https://cdn.shopify.com">
    <link
      rel="dns-prefetch"
      href="https://productreviews.shopifycdn.com">
    <link
      rel="dns-prefetch"
      href="https://www.google-analytics.com">

    {%- unless settings.heading_font.system? and settings.text_font.system? -%}
      <link
        rel="preconnect"
        href="https://fonts.shopifycdn.com"
        crossorigin>
    {%- endunless -%}

    {%- comment -%}Preload important resources{%- endcomment -%}
    <link
      rel="preload"
      as="style"
      href="{{ 'theme.css' | asset_url }}">
    <link
      rel="preload"
      as="script"
      href="{{ 'vendor.js' | asset_url }}">
    <link
      rel="preload"
      as="script"
      href="{{ 'theme.js' | asset_url }}">

    {%- comment -%}
      IMPLEMENTATION NOTE: for improving performance, Focal tries to preload images on known pages (such as blog page,
      product or collection pages). In order to keep a main JS file size minimal, the theme also lazyloads non-essential
      libraries (such as PhotoSwipe or Flickity) and only loads them on demand.
    {%- endcomment -%}
    {%- if request.page_type == 'product' -%}
      {%- assign selected_media = product.selected_variant.featured_media
        | default: product.featured_media
      -%}

      <link
        rel="preload"
        as="fetch"
        href="{{ product.url }}.js"
        crossorigin>

      {%- if product.media.size > 1 -%}
        <link
          rel="preload"
          as="script"
          href="{{ 'flickity.js' | asset_url }}">
      {%- endif -%}
    {%- endif -%}

    {% render 'social-meta-tags' %}
    {% render 'microdata-schema' %}
    {% render 'css-variables', direction: direction %}
    {% render 'js-variables', direction: direction %}

    <link
      rel="stylesheet"
      href="{{ 'theme.css' | asset_url }}">
    {{ 'tailwind.css' | asset_url | stylesheet_tag }}

    {{ 'codext-theme.css' | asset_url | stylesheet_tag }}

    <script
      src="{{ 'vendor.js' | asset_url }}"
      defer></script>
    <script
      src="{{ 'theme.js' | asset_url }}"
      defer></script>
    <script
      src="{{ 'custom.js' | asset_url }}"
      defer></script>
    <script
      src="{{ 'codext-helper.js' | asset_url }}"
      defer></script>

    {{ content_for_header }}
  {% render 'gp-head' %}
</head>

  {%- assign feature_classes = '' -%}

  {%- if settings.show_image_zoom -%}
    {% assign feature_classes = feature_classes
      | append: ' features--image-zoom'
    %}
  {%- endif -%}

  <body
    class="no-focus-outline {{ feature_classes }}"
    data-instant-allow-query-string>{{ content_for_layout }}</body>
</html>
