{% schema %}
{
  "name": "c/ Main Banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "text",
      "id": "main_heading",
      "label": "Main Heading",
      "default": "Finally more"
    },
    {
      "type": "text",
      "id": "highlighted_text",
      "label": "Highlighted Text",
      "default": "Savings"
    },
    {
      "type": "text",
      "id": "sub_heading",
      "label": "Sub Heading",
      "default": "for your household"
    },
    {
      "type": "url",
      "id": "first_button_link",
      "label": "First Button Link"
    },
    {
      "type": "text",
      "id": "first_button_text",
      "label": "First Button Text",
      "default": "To the balcony power plants"
    },
    {
      "type": "url",
      "id": "second_button_link",
      "label": "Second Button Link"
    },
    {
      "type": "text",
      "id": "second_button_text",
      "label": "Second Button Text",
      "default": "To the solar systems"
    },
    {
      "type": "text",
      "id": "promo_heading",
      "label": "Promo Heading",
      "default": "NEW: priwatt Solar Your solar system for self-assembly!"
    },
    {
      "type": "text",
      "id": "promo_description",
      "label": "Promo Description",
      "default": "Easily configure, order and install your solar system up to 10 kWp yourself, according to the priwatt DIY principle."
    }
  ],
  "blocks": [
    {
      "type": "feature",
      "name": "Feature",
      "settings": [
        {
          "type": "image_picker",
          "id": "feature_icon",
          "label": "Feature Icon"
        },
        {
          "type": "text",
          "id": "feature_text",
          "label": "Feature Text",
          "default": "Feature Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "c/ Main Banner"
    }
  ]
}
{% endschema %}

<main style="background: url({{ section.settings.background_image | img_url: '1920x' }})" class="bg-[#0000002b] min-h-screen p-5 bg-no-repeat bg-cover bg-blend-darken">
  <div class="max-w-[1300px] mx-auto mt-32 md:mt-52">
    <h1 class="text-5xl md:text-8xl font-bold text-white">
      {{ section.settings.main_heading }}
      <br>
      <span class="text-green-400">{{ section.settings.highlighted_text }}</span
      ><br>
    </h1>
    <p class="text-3xl font-bold text-white mt-2">
      {{ section.settings.sub_heading }}
    </p>
    <div class="mt-10 flex flex-wrap gap-2">
      <a
        href="{{ section.settings.first_button_link }}"
        class="px-10 py-4 bg-green-400 text-white hover:opacity-90 font-bold text-lg">
        {{ section.settings.first_button_text }}
      </a>
      <a
        href="{{ section.settings.second_button_link }}"
        class="px-10 py-4 bg-white hover:opacity-90 font-bold text-lg">
        {{ section.settings.second_button_text }}
      </a>
    </div>

    <div class="flex flex-col md:flex-row items-end gap-10">
      <div class="grid md:grid-cols-4 max-w-4xl gap-5 bg-white/30 backdrop-blur-xl p-5 mt-5 rounded-2xl">
        {% for block in section.blocks %}
          <div class="flex md:flex-col items-center md:items-start gap-4">
            <div class="bg-green-50 border-2 border-green-300 w-14 h-14 grid place-items-center p-2 rounded-xl">
              <img
                class="w-12"
                src="{{ block.settings.feature_icon | img_url: 'master' }}"
                loading="lazy">
            </div>
            <h1 class="md:text-xl font-bold text-white">
              {{ block.settings.feature_text }}
            </h1>
          </div>
        {% endfor %}
      </div>

      <div class="bg-green-50/95 backdrop-blur-lg border-2 border-green-300 p-10 grid gap-4 rounded-xl">
        <h1 class="text-3xl font-bold text-[#0c215a]">
          {{ section.settings.promo_heading }}
        </h1>
        <p class="text-sm text-[#7784a5]">
          {{ section.settings.promo_description }}
        </p>
        <button class="flex gap-2 items-center text-[#0c215a] font-bold text-xl">
          Get started now!
          <span class="bg-green-400 text-white w-12 h-12 rounded-full grid place-items-center shadow-lg shadow-green-400">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="3"
              stroke="currentColor"
              class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5"/>
            </svg>
          </span>
        </button>
      </div>
    </div>
  </div>
</main>
