<style>
  :root {
    --enable-sticky-announcement-bar: {% if section.settings.announcement_bar_position == 'non_sticky' or section.settings.announcement_bar_position == 'sticky_desktop' %}0{% else %}1{% endif %};
  }

  #shopify-section-{{ section.id }} {
    {%- if section.settings.announcement_bar_position == 'sticky' or section.settings.announcement_bar_position == 'sticky_mobile' -%}
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 5; /* Make sure it goes over header */
    {%- else -%}
      position: relative;
    {%- endif -%}
  }

  @media screen and (min-width: 741px) {
    :root {
      --enable-sticky-announcement-bar: {% if section.settings.announcement_bar_position == 'non_sticky' or section.settings.announcement_bar_position == 'sticky_mobile' %}0{% else %}1{% endif %};
    }

    #shopify-section-{{ section.id }} {
      {%- if section.settings.announcement_bar_position == 'sticky' or section.settings.announcement_bar_position == 'sticky_desktop' -%}
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 5; /* Make sure it goes over header */
      {%- else -%}
        position: relative;
        z-index: unset;
      {%- endif -%}
    }
  }
</style>

{%- if section.blocks.size > 0 -%}
  <section>
    <div
      class="announcement-bar w-full text-center py-2 {% if section.blocks.size > 1 %}announcement-bar--multiple{% endif %}">
      <div class="announcement-bar__list flex w-full justify-center text-[14px] space-x-8 font-semibold">
        {%- for block in section.blocks -%}
          <div
            class="announcement-bar__item sm:flex hidden gap-2">
            {% if block.settings.icon %}
              {% render 'codext-tabler-icons' with icon: block.settings.icon %}
            {% endif %}
            {% if block.settings.image %}
              <img
                class="announcement-bar__image"
                src="{{ block.settings.image | img_url: '20x' }}"
                alt="{{ block.settings.text | escape }}"
                loading="lazy"
                width="20"
                height="20">

            {% endif %}
            <div>
              {{ block.settings.text | escape }}
            </div>
          </div>
        {%- endfor -%}
      </div>
    </div>
  </section>

  <script>
    document.documentElement.style.setProperty(
      '--announcement-bar-height',
      document.getElementById('shopify-section-{{ section.id }}').clientHeight +
        'px'
    );
  </script>
{%- endif -%}

<style>
  @keyframes slideaway {
    from {
      display: block;
    }
    to {
      transform: translateY(40px);
      opacity: 0;
    }
  }

  .hide {
    animation: slideaway 200ms;
    display: none;
  }
</style>
<script>
  let rotateInterval = null;
  let currentVisibleIndex = 0;

  function intervalRotationFn() {
    const items = document.querySelectorAll('.announcement-bar__item');
    console.log(currentVisibleIndex);
    items.forEach((item, index) => {
      item.style.display = index === currentVisibleIndex ? 'block' : 'none';
    });
    currentVisibleIndex = (currentVisibleIndex + 1) % items.length;
  }

  function handleRotation() {
    console.log('onresize');
    const isMobile = window.innerWidth < 741;

    const announcementBarItems = document.querySelectorAll(
      '.announcement-bar__item'
    );

    if (isMobile) {
      announcementBarItems.forEach((item, index) => {
        item.style.display = 'none';
      });

      intervalRotationFn();
      rotateInterval = setInterval(() => intervalRotationFn(), {{ section.settings.cycle_speed | times: 1000 }});
    } else {
      if (rotateInterval) clearInterval(rotateInterval);
      announcementBarItems.forEach((item, index) => {
        item.style.display = 'block';
      });
    }
  }

  document.addEventListener('resize', () => handleRotation());
  document.addEventListener('DOMContentLoaded', () => handleRotation());
</script>

{% schema %}
{
  "name": "Codext - Announcement bar",
  "class": "shopify-section--announcement-bar",
  "presets": [
    {
      "name": "Codext - Announcement bar"
    }
  ],
  "max_blocks": 4,
  "blocks": [
    {
      "type": "message",
      "name": "Message",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Announce something here"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "icon",
          "label": "Icon",
          "description": "Use Tabler icons. See all icons at https://tabler-icons.io/"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "select",
      "id": "announcement_bar_position",
      "label": "Position",
      "options": [
        {
          "value": "non_sticky",
          "label": "Non sticky"
        },
        {
          "value": "sticky_desktop",
          "label": "Sticky on desktop only"
        },
        {
          "value": "sticky_mobile",
          "label": "Sticky on mobile only"
        },
        {
          "value": "sticky",
          "label": "Sticky everywhere"
        }
      ],
      "default": "non_sticky"
    },
    {
      "type": "select",
      "id": "announcement_text_size",
      "label": "Text size",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "normal"
    },
    {
      "type": "range",
      "id": "cycle_speed",
      "min": 3,
      "max": 20,
      "step": 1,
      "unit": "sec",
      "label": "Change message every",
      "default": 5
    }
  ]
}
{% endschema %}
