<div
  class="container py-8"
  style="background-color: {{ section.settings.background_color }}">
  <div class="flex justify-between">
    <div
      class="text-lg"
      style="color: {{ section.settings.text_color }}">
      {{ section.settings['top-left-text'] }}
    </div>
    <div
      class="text-lg"
      style="color: {{ section.settings.text_color }}">
      {{ section.settings['top-right-text'] }}
    </div>
  </div>

  <div class="h-40 flex flex-col items-center justify-center w-full">
    <div style="color: {{ section.settings.text_color }}">Wir akzeptieren</div>
    <div class="flex space-x-4 items-center mt-4">
      {%- for type in shop.enabled_payment_types -%}
        {{- type | payment_type_svg_tag: class: 'h-20 w-20' -}}
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Codext - Subfooter",
  "class": "shopify-section--text-with-icons",
  "disabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#000000"
    },
    {
      "type": "color_background",
      "id": "background_color",
      "label": "Background Color",
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "top-left-text",
      "label": "Top Left Text",
      "default": "Testleftpushed"
    },
    {
      "type": "text",
      "id": "top-right-text",
      "label": "Top Right Text"
    }
  ],
  "presets": [
    {
      "name": "Codext - Subfooter",
      "blocks": []
    }
  ]
}
{% endschema %}
