{% schema %}
{
  "name": "Codext - Blog Author",
  "presets": [
    {
      "name": "Codext - Blog Author"
    }
  ]
}
{% endschema %}
{% assign author = article.metafields.custom.author.value %}
{% if author.bild != blank %}
  <section class="bg-gray-50 py-10 ">
    <div class="container mx-auto p-6  article__content">
      <div class="text-center rte flex flex-col justify-center items-center gap-4">

        <div class="rounded-full w-24 h-24 aspect-square overflow-hidden">
          {{ article.metafields.custom.author.value.bild  | image_url: width: 300 | image_tag: class: '!m-0' }}
        </div>
        <div class="flex flex-col gap-0">
          {% if article.metafields.custom.author.value.logo %}
            <div class="w-24 h-24 aspect-square overflow-hidden">
              {{ article.metafields.custom.author.value.logo  | image_url: width: 300 | image_tag: class: '!m-0' }}
            </div>
          {%  else %}  
            <div class="flex flex-col gap-0">
              <div class="text-lg font-bold" >{{ article.metafields.custom.author.value.name }}</div>
            </div> 
          {% endif %}              
          <div class="text-sm">{{ article.metafields.custom.author.value.subtitle }}</div>
          <div class="text-sm italic mt-2 text-gray-600">
            {{ article.metafields.custom.author.value.beschreibung | metafield_tag }}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endif %}