
  
  
  <style>
    .gps-489506237407298699 .static{position:static}.gps-489506237407298699 .relative{position:relative}.gps-489506237407298699 .mx-auto{margin-left:auto;margin-right:auto}.gps-489506237407298699 .mb-0{margin-bottom:0}.gps-489506237407298699 .block{display:block}.gps-489506237407298699 .flex{display:flex}.gps-489506237407298699 .grid{display:grid}.gps-489506237407298699 .contents{display:contents}.gps-489506237407298699 .hidden{display:none}.gps-489506237407298699 .max-w-full{max-width:100%}.gps-489506237407298699 .flex-col{flex-direction:column}.gps-489506237407298699 .gap-y-0{row-gap:0}.gps-489506237407298699 .text-center{text-align:center}.gps-489506237407298699 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-489506237407298699 .duration-200{transition-duration:.2s}.gps-489506237407298699 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-489506237407298699 .\[\&_\*\]\:max-w-full *{max-width:100%}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gvbEXg3j4V"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-4xl);--pl:15px;--pb:var(--g-s-4xl);--pr:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FCFAF3;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gvbEXg3j4V mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g2Kqjt7Kp6 relative flex flex-col"
    >
      
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-product.v2.js" defer="defer"></script>
    {%- assign gpBkProduct = product -%}
    
        {%- liquid
          if request.page_type == 'product'
            if 'static' == 'static'
              if 'latest' == 'latest'
                paginate collections.all.products by 100000
                  assign product = collections.all.products | sort: 'created_at' | reverse | first
                endpaginate
              else
                assign product = all_products['']
                if product == empty or product == null
                  paginate collections.all.products by 100000
                    for item in collections.all.products 
                      if item.id == 'latest'
                        assign product = item
                      endif
                    endfor
                  endpaginate
                endif
              endif
            endif
          else
            if 'latest' == 'latest'
              paginate collections.all.products by 100000
                assign product = collections.all.products | sort: 'created_at'| reverse | first
              endpaginate
            else
              assign product = all_products['']
              if product == empty or product == null
                paginate collections.all.products by 100000
                  for item in collections.all.products 
                    if item.id == 'latest'
                      assign product = item
                    endif
                  endfor
                endpaginate
              endif
            endif
          endif
        -%}
      

    {%-if product != empty and product != null -%}
      {%- assign initVariantId =  -%}
      {%- assign product_form_id = 'product-form-' | append: "gNDynYo0kq" -%}
      {%- assign variant = product.selected_or_first_available_variant -%}
      {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%-if productSelectedVariant == empty or productSelectedVariant == null -%}
        {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      {%-if variant == empty or variant == null -%}
        {%- assign variant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      <gp-product class="" gp-context='{"productId": {{ product.id }}, "isSyncProduct": "true", "variantSelected": {{ variant | json | escape }}, "quantity": 1, "formId": "{{ product_form_id }}" }'
        gp-data='{"variantSelected": {{ variant | json | escape }}, "quantity": 1}'>
        <product-form class="product-form">
          {%- form 'product', product, id: product_form_id, class: 'form contents', data-type: 'add-to-cart-form', autocomplete: 'off'  -%}
            <input type="hidden" name="id" value="{{ variant.id }}" />
            <input type="hidden" name="quantity" value="{{ quantity }}" />
            <button type="submit" onclick="return false;" style="display:none;"></button>
            
      
      
    <div
      id
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%"
        class="mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gi_3soz3Xx relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gbg1XeBhex ">
      
    <div
      class=""
      style="--ta:left"
    >
      <div>
        {% assign widget = 'reviews_carousel' %}
        {% case widget %}
          {% when "single_product_preview_badge" %}
            <div style='{{ jm_style }}' class='jdgm-widget jdgm-preview-badge'  data-id='{{ product.id }}'>
              {{ product.metafields.judgeme.badge }}
            </div>  
          {% when "review_widget" %}
            <div style='clear:both'></div>
            <div id='judgeme_product_reviews' class='jdgm-widget jdgm-review-widget' data-id='{{ product.id }}'>
                {{ product.metafields.judgeme.widget }}
            </div>
          {% when "reviews_carousel" %}
            <div class='jdgm-carousel-wrapper'>
              {% assign jm_metafields = shop.metafields.judgeme %}  
              <div class='jdgm-carousel-title-and-link'>
                <h2 class='jdgm-carousel-title'>Let customers speak for us</h2>
                <span class='jdgm-all-reviews-rating-wrapper' href='javascript:void(0)'>
                  <span style='display:block'  data-score='{{ jm_metafields.all_reviews_rating }}' class='jdgm-all-reviews-rating' aria-label='{{ jm_metafields.all_reviews_rating }} stars' tabindex='0' role='img'></span>
                  <span style='display: block' class='jdgm-carousel-number-of-reviews' data-number-of-reviews='{{ jm_metafields.all_reviews_count }}'>
                    from {{ shop.metafields.judgeme.all_reviews_count }} reviews
                  </span>
                </span>  
              </div>
              {{ jm_metafields.featured_carousel }}
            </div>
          {% when "reviews_text" %}
            <div style='text-align: center'>
              <div class='jdgm-widget jdgm-all-reviews-text'>
                <a href='javascript:void(0)'>
                  <span class='jdgm-all-reviews-text__text' data-score='{{ shop.metafields.judgeme.all_reviews_rating }}' data-number-of-reviews='{{ shop.metafields.judgeme.all_reviews_count }}'>
                    Customers rate us {{ shop.metafields.judgeme.all_reviews_rating | round: 1 }}/5 based on {{ shop.metafields.judgeme.all_reviews_count }} reviews.
                  </span>
                </a>
              </div>  
            </div>
          {% when "section_for_medals" %}
            {{ shop.metafields.judgeme.medals }}
          {% when "ugc_media_grid" %}
            <div class='jdgm-widget jdgm-ugc-media-wrapper'>
              {{ shop.metafields.judgeme.ugc_media_grid }}
            </div> 
          {% when "verified_reviews_count_badge" %}
            <div style='clear:both'></div>
            <div style='text-align: center'>
              <a class='jdgm-verified-count-badget' href='javascript:void(0)'>
                {{ shop.metafields.judgeme.verified_badge }}
              </a>
            </div>
        {% endcase %}
      </div>
    </div>
  
      </div>
    </div>
    </div>
  
    
          {%- endform -%}
        </product-form>
      </gp-product>
      {%- assign product = gpBkProduct -%}
    {% else %}
      <div class="text-center">Product not found</div>
    {%- endif -%}
  
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 13",
    "tag": "section",
    "class": "gps-489506237407298699 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://builder.gempages.net/instant/hyperlink/edit?type=section&section_id=489506237407298699&template_id=489506193853645963)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
