
  
  
  <style>
    .gps-489497348737598603 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-489497348737598603 .pointer-events-none{pointer-events:none}.gps-489497348737598603 .pointer-events-auto{pointer-events:auto}.gps-489497348737598603 .relative{position:relative}.gps-489497348737598603 .mx-auto{margin-left:auto;margin-right:auto}.gps-489497348737598603 .mb-0{margin-bottom:0}.gps-489497348737598603 .block{display:block}.gps-489497348737598603 .inline-block{display:inline-block}.gps-489497348737598603 .flex{display:flex}.gps-489497348737598603 .inline-flex{display:inline-flex}.gps-489497348737598603 .grid{display:grid}.gps-489497348737598603 .hidden{display:none}.gps-489497348737598603 .h-full{height:100%}.gps-489497348737598603 .w-full{width:100%}.gps-489497348737598603 .max-w-full{max-width:100%}.gps-489497348737598603 .flex-none{flex:none}.gps-489497348737598603 .flex-col{flex-direction:column}.gps-489497348737598603 .flex-wrap{flex-wrap:wrap}.gps-489497348737598603 .items-center{align-items:center}.gps-489497348737598603 .justify-start{justify-content:flex-start}.gps-489497348737598603 .justify-center{justify-content:center}.gps-489497348737598603 .gap-y-0{row-gap:0}.gps-489497348737598603 .overflow-hidden{overflow:hidden}.gps-489497348737598603 .align-middle{vertical-align:middle}.gps-489497348737598603 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-489497348737598603 .duration-200{transition-duration:.2s}.gps-489497348737598603 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-489497348737598603 .tablet\:block{display:block}.gps-489497348737598603 .tablet\:hidden{display:none}}@media (max-width:767px){.gps-489497348737598603 .mobile\:block{display:block}.gps-489497348737598603 .mobile\:hidden{display:none}.gps-489497348737598603 .mobile\:justify-center{justify-content:center}}.gps-489497348737598603 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-489497348737598603 .\[\&_p\]\:inline p{display:inline}.gps-489497348737598603 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-489497348737598603 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gg45EjpP0l"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-4xl);--pt:var(--g-s-4xl);--pl:15px;--pb:var(--g-s-3xl);--pr:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#DA351E;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gg45EjpP0l mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gUqYkW2caM relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gpVwUIalYy"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--cg:32px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gpVwUIalYy mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gDWrTKNHvO relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s)" class="gWpfRG767r ">
      
    <div
      parentTag="Col"
        class="gWpfRG767r "
        style="--ta:center"
      >
      <div class="flex" style="--jc:center">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:600;--ls:normal;--lh:130%;--size:28px;--size-tablet:28px;--size-mobile:24px;--c:#FFFFFF;word-break:break-word"
        >
        <p>On The Social</p>
        </h2>
      </div>
    </div>
      </div>
    <div
      parentTag="Col"
        class="gXxQtvUTx- "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-2xl)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;word-break:break-word"
        >
        <p>Follow us for more useful information</p>
        </div>
      </div>
    </div>
    
      
      
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:var(--g-s-l);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
        
    <div 
            class="flex flex-wrap"
            style="--cg:16px;--jc:center">
            <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gza2QLjL_6 ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
    
    role="presentation"
    class="group/image gKa0bzFqvW"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--shadow:none;--w:48px;--w-tablet:48px;--w-mobile:32px;--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
    >
      <div
        class="pointer-events-auto h-full"
        
      >
        <img
    quality="70" title
    draggable="false"
    class="inline-block w-full h-full max-w-full flex gp_lazyload"
    data-src="{{ "432750572815254551-24a08ca3-09bf-4314-a54b-702e7bf86179.svg" | asset_url }}" data-srcset="{{ '432750572815254551-24a08ca3-09bf-4314-a54b-702e7bf86179.svg' | asset_url }} 768w, {{ '432750572815254551-24a08ca3-09bf-4314-a54b-702e7bf86179.svg' | asset_url }} 1024w, {{ '432750572815254551-24a08ca3-09bf-4314-a54b-702e7bf86179.svg' | asset_url }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="48" height="49" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:48/49;--aspect-tablet:48/49;--aspect-mobile:48/49;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
      </div>
    </figure>
  </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gX-k0bU-Xk ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
    
    role="presentation"
    class="group/image gDcQwgYQ4a"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--shadow:none;--w:48px;--w-tablet:48px;--w-mobile:32px;--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
    >
      <div
        class="pointer-events-auto h-full"
        
      >
        <img
    quality="70" title
    draggable="false"
    class="inline-block w-full h-full max-w-full flex gp_lazyload"
    data-src="{{ "432750572815254551-b58b6766-c617-422f-9293-2b69c0a359a5.svg" | asset_url }}" data-srcset="{{ '432750572815254551-b58b6766-c617-422f-9293-2b69c0a359a5.svg' | asset_url }} 768w, {{ '432750572815254551-b58b6766-c617-422f-9293-2b69c0a359a5.svg' | asset_url }} 1024w, {{ '432750572815254551-b58b6766-c617-422f-9293-2b69c0a359a5.svg' | asset_url }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="48" height="49" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:48/49;--aspect-tablet:48/49;--aspect-mobile:48/49;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
      </div>
    </figure>
  </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="g8NQCYO4ks ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
    
    role="presentation"
    class="group/image gPiK43Y_xj"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--shadow:none;--w:48px;--w-tablet:48px;--w-mobile:32px;--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
    >
      <div
        class="pointer-events-auto h-full"
        
      >
        <img
    quality="70" title
    draggable="false"
    class="inline-block w-full h-full max-w-full flex gp_lazyload"
    data-src="{{ "432750572815254551-dcdd25eb-4410-4bc0-bb2f-d9f1b070f2cc.svg" | asset_url }}" data-srcset="{{ '432750572815254551-dcdd25eb-4410-4bc0-bb2f-d9f1b070f2cc.svg' | asset_url }} 768w, {{ '432750572815254551-dcdd25eb-4410-4bc0-bb2f-d9f1b070f2cc.svg' | asset_url }} 1024w, {{ '432750572815254551-dcdd25eb-4410-4bc0-bb2f-d9f1b070f2cc.svg' | asset_url }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="48" height="49" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:48/49;--aspect-tablet:48/49;--aspect-mobile:48/49;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
      </div>
    </figure>
  </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gcmcFUDkBY ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
    
    role="presentation"
    class="group/image gdjMaWzm-Q"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--shadow:none;--w:48px;--w-tablet:48px;--w-mobile:32px;--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
    >
      <div
        class="pointer-events-auto h-full"
        
      >
        <img
    quality="70" title
    draggable="false"
    class="inline-block w-full h-full max-w-full flex gp_lazyload"
    data-src="{{ "432750572815254551-f128a560-b386-4a3f-9549-014335cb5ccc.svg" | asset_url }}" data-srcset="{{ '432750572815254551-f128a560-b386-4a3f-9549-014335cb5ccc.svg' | asset_url }} 768w, {{ '432750572815254551-f128a560-b386-4a3f-9549-014335cb5ccc.svg' | asset_url }} 1024w, {{ '432750572815254551-f128a560-b386-4a3f-9549-014335cb5ccc.svg' | asset_url }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="48" height="49" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:48/49;--aspect-tablet:48/49;--aspect-mobile:48/49;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
      </div>
    </figure>
  </div>
    </div>
  
      </div>
         </div>
    </div>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gM_rLsFYTu relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--radius:var(--g-radius-none);--pt:16px;--pb:16px;--pt-mobile:var(--g-s-l);--pb-mobile:var(--g-s-l)" class="gyH6uKB11w ">
      
    <div
      class="flex justify-start mobile:justify-center"
    >
      <div
        style="--w:100%;--w-tablet:100%;--w-mobile:210px;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--t:rotate(0deg);--bc:rgba(238, 238, 238, 0.2)"
        class="block tablet:block mobile:block"
      ></div>
      <div
        class="items-center hidden tablet:hidden mobile:hidden"
        style="--w:100%;--w-tablet:100%;--w-mobile:210px;--bc:rgba(238, 238, 238, 0.2);--t:rotate(0deg)"
      >
        
    <div
      class="hidden"
      style="--w:100%;--w-tablet:100%;--w-mobile:210px;--bc:rgba(238, 238, 238, 0.2);--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px;--minw-mobile:210px"
    ></div>
  
        
            <span
              class="inline-flex items-center justify-center flex-none"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="inline-flex items-center justify-center flex-none g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s)"
            >
              Title
            </span>
          
        
    <div
      class="flex"
      style="--w:100%;--w-tablet:100%;--w-mobile:210px;--bc:rgba(238, 238, 238, 0.2);--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px;--minw-mobile:210px"
    ></div>
  
      </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mt-mobile:var(--g-s-l);--mb-mobile:var(--g-s-l)" class="g5St3vqSwz ">
      
    <div
      parentTag="Col"
        class="g5St3vqSwz "
        style="--ta:center"
      >
      <div class="flex" style="--jc:center">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:600;--ls:normal;--lh:130%;--size:28px;--size-tablet:28px;--size-mobile:24px;--c:#FFFFFF;word-break:break-word"
        >
        <p>Contact Us</p>
        </h2>
      </div>
    </div>
      </div>
    
      
      
    <div
      uid="g-Jiso2Xwt"
       style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:center;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
     <ul
        class="inline-flex flex-col"
        style="--rg:12px;--rg-mobile:10px"
        >
        
    <li
      class="flex w-full items-center gp-icon-list-item"
      style="--cg:12px;--cg-mobile:7px"
    >
    <div
      
      style=""
      class="gv1aD2lMJB relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gv13PkCLLj"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--shadow:none;--w:40px;--w-tablet:40px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
    >
      <div
        class="pointer-events-auto h-full"
        
      >
        <img
    quality="70" title
    draggable="false"
    class="inline-block w-full h-full max-w-full flex gp_lazyload"
    data-src="{{ "432750572815254551-bd241084-4929-4898-afde-349146e79d96.svg" | asset_url }}" data-srcset="{{ '432750572815254551-bd241084-4929-4898-afde-349146e79d96.svg' | asset_url }} 768w, {{ '432750572815254551-bd241084-4929-4898-afde-349146e79d96.svg' | asset_url }} 1024w, {{ '432750572815254551-bd241084-4929-4898-afde-349146e79d96.svg' | asset_url }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="41" height="41" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:41/41;--aspect-tablet:41/41;--aspect-mobile:41/41;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
      </div>
    </figure>
  </div>
    </div><div
      
      style=""
      class="gjlw2vlptD relative flex flex-col w-full"
    >
      
    <div
      parentTag="Col"
        class="grCeKn89KF "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;word-break:break-word"
        >
        <p>261 NW 26th Street Miami. FL 33127</p>
        </div>
      </div>
    </div>
    </div>
  </li>
    <li
      class="flex w-full items-center gp-icon-list-item"
      style="--cg:12px;--cg-mobile:7px"
    >
    <div
      
      style=""
      class="gQ-tm4oSJB relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gpm8Wo0F15"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--shadow:none;--w:40px;--w-tablet:40px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
    >
      <div
        class="pointer-events-auto h-full"
        
      >
        <img
    quality="70" title
    draggable="false"
    class="inline-block w-full h-full max-w-full flex gp_lazyload"
    data-src="{{ "432750572815254551-54e59ff4-d835-433f-93f6-dce62638aec3.svg" | asset_url }}" data-srcset="{{ '432750572815254551-54e59ff4-d835-433f-93f6-dce62638aec3.svg' | asset_url }} 768w, {{ '432750572815254551-54e59ff4-d835-433f-93f6-dce62638aec3.svg' | asset_url }} 1024w, {{ '432750572815254551-54e59ff4-d835-433f-93f6-dce62638aec3.svg' | asset_url }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="41" height="41" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:41/41;--aspect-tablet:41/41;--aspect-mobile:41/41;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
      </div>
    </figure>
  </div>
    </div><div
      
      style=""
      class="gxWYBlDUca relative flex flex-col w-full"
    >
      
    <div
      parentTag="Col"
        class="g5F4_4UQdz "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;word-break:break-word"
        >
        <p>support@gemcookware.com</p>
        </div>
      </div>
    </div>
    </div>
  </li>
      </ul>
  </div>
  
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 15",
    "tag": "section",
    "class": "gps-489497348737598603 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://builder.gempages.net/instant/hyperlink/edit?type=section&section_id=489497348737598603&template_id=489497229451592498)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
