
  
  
  <style>
    .gps-489506237155640459 .-translate-y-1\/2,.gps-489506237155640459 .mobile\:-translate-y-1\/2,.gps-489506237155640459 .mobile\:rotate-0,.gps-489506237155640459 .mobile\:rotate-180,.gps-489506237155640459 .mobile\:translate-x-0,.gps-489506237155640459 .mobile\:translate-y-1\/2,.gps-489506237155640459 .rotate-0,.gps-489506237155640459 .rotate-180,.gps-489506237155640459 .tablet\:-translate-y-1\/2,.gps-489506237155640459 .tablet\:rotate-0,.gps-489506237155640459 .tablet\:rotate-180,.gps-489506237155640459 .tablet\:translate-x-0,.gps-489506237155640459 .tablet\:translate-y-1\/2,.gps-489506237155640459 .translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-489506237155640459 .shadow-md{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-489506237155640459 .pointer-events-none{pointer-events:none}.gps-489506237155640459 .pointer-events-auto{pointer-events:auto}.gps-489506237155640459 .absolute{position:absolute}.gps-489506237155640459 .relative{position:relative}.gps-489506237155640459 .bottom-1\/2{bottom:50%}.gps-489506237155640459 .left-4{left:16px}.gps-489506237155640459 .right-4{right:16px}.gps-489506237155640459 .top-1\/2{top:50%}.gps-489506237155640459 .mx-auto{margin-left:auto;margin-right:auto}.gps-489506237155640459 .my-0{margin-bottom:0;margin-top:0}.gps-489506237155640459 .mb-0{margin-bottom:0}.gps-489506237155640459 .mt-2{margin-top:8px}.gps-489506237155640459 .block{display:block}.gps-489506237155640459 .inline-block{display:inline-block}.gps-489506237155640459 .flex{display:flex}.gps-489506237155640459 .inline-flex{display:inline-flex}.gps-489506237155640459 .grid{display:grid}.gps-489506237155640459 .\!hidden{display:none!important}.gps-489506237155640459 .hidden{display:none}.gps-489506237155640459 .aspect-square{aspect-ratio:1/1}.gps-489506237155640459 .h-6{height:24px}.gps-489506237155640459 .h-full{height:100%}.gps-489506237155640459 .w-6{width:24px}.gps-489506237155640459 .w-\[12px\]{width:12px}.gps-489506237155640459 .w-full{width:100%}.gps-489506237155640459 .max-w-full{max-width:100%}.gps-489506237155640459 .-translate-y-1\/2{--tw-translate-y:-50%}.gps-489506237155640459 .-translate-y-1\/2,.gps-489506237155640459 .translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-489506237155640459 .translate-y-1\/2{--tw-translate-y:50%}.gps-489506237155640459 .rotate-0{--tw-rotate:0deg}.gps-489506237155640459 .rotate-0,.gps-489506237155640459 .rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-489506237155640459 .rotate-180{--tw-rotate:180deg}.gps-489506237155640459 .cursor-pointer{cursor:pointer}.gps-489506237155640459 .flex-row{flex-direction:row}.gps-489506237155640459 .flex-col{flex-direction:column}.gps-489506237155640459 .items-center{align-items:center}.gps-489506237155640459 .justify-center{justify-content:center}.gps-489506237155640459 .gap-2{gap:8px}.gps-489506237155640459 .gap-y-0{row-gap:0}.gps-489506237155640459 .overflow-hidden{overflow:hidden}.gps-489506237155640459 .rounded-full{border-radius:9999px}.gps-489506237155640459 .text-center{text-align:center}.gps-489506237155640459 .align-middle{vertical-align:middle}.gps-489506237155640459 .text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-489506237155640459 .shadow-md{--tw-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);--tw-shadow-colored:0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-489506237155640459 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-489506237155640459 .duration-200{transition-duration:.2s}.gps-489506237155640459 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-489506237155640459 .disabled\:cursor-default:disabled{cursor:default}.gps-489506237155640459 .disabled\:text-gray-300:disabled{--tw-text-opacity:1;color:rgb(209 213 219/var(--tw-text-opacity))}.gps-489506237155640459 .data-\[hidden\=true\]\:\!hidden[data-hidden=true]{display:none!important}@media (max-width:1023px){.gps-489506237155640459 .tablet\:bottom-1\/2{bottom:50%}.gps-489506237155640459 .tablet\:left-4{left:16px}.gps-489506237155640459 .tablet\:right-4{right:16px}.gps-489506237155640459 .tablet\:top-1\/2{top:50%}.gps-489506237155640459 .tablet\:mt-2{margin-top:8px}.gps-489506237155640459 .tablet\:block{display:block}.gps-489506237155640459 .tablet\:\!hidden{display:none!important}.gps-489506237155640459 .tablet\:w-full{width:100%}.gps-489506237155640459 .tablet\:-translate-y-1\/2{--tw-translate-y:-50%}.gps-489506237155640459 .tablet\:-translate-y-1\/2,.gps-489506237155640459 .tablet\:translate-x-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-489506237155640459 .tablet\:translate-x-0{--tw-translate-x:0px}.gps-489506237155640459 .tablet\:translate-y-1\/2{--tw-translate-y:50%}.gps-489506237155640459 .tablet\:rotate-0,.gps-489506237155640459 .tablet\:translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-489506237155640459 .tablet\:rotate-0{--tw-rotate:0deg}.gps-489506237155640459 .tablet\:rotate-180{--tw-rotate:180deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-489506237155640459 .tablet\:flex-row{flex-direction:row}.gps-489506237155640459 .tablet\:px-0{padding-left:0;padding-right:0}.gps-489506237155640459 .tablet\:pl-1{padding-left:4px}}@media (max-width:767px){.gps-489506237155640459 .mobile\:bottom-1\/2{bottom:50%}.gps-489506237155640459 .mobile\:left-4{left:16px}.gps-489506237155640459 .mobile\:right-4{right:16px}.gps-489506237155640459 .mobile\:top-1\/2{top:50%}.gps-489506237155640459 .mobile\:mt-2{margin-top:8px}.gps-489506237155640459 .mobile\:block{display:block}.gps-489506237155640459 .mobile\:\!hidden{display:none!important}.gps-489506237155640459 .mobile\:w-full{width:100%}.gps-489506237155640459 .mobile\:-translate-y-1\/2{--tw-translate-y:-50%}.gps-489506237155640459 .mobile\:-translate-y-1\/2,.gps-489506237155640459 .mobile\:translate-x-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-489506237155640459 .mobile\:translate-x-0{--tw-translate-x:0px}.gps-489506237155640459 .mobile\:translate-y-1\/2{--tw-translate-y:50%}.gps-489506237155640459 .mobile\:rotate-0,.gps-489506237155640459 .mobile\:translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-489506237155640459 .mobile\:rotate-0{--tw-rotate:0deg}.gps-489506237155640459 .mobile\:rotate-180{--tw-rotate:180deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-489506237155640459 .mobile\:flex-row{flex-direction:row}.gps-489506237155640459 .mobile\:px-0{padding-left:0;padding-right:0}.gps-489506237155640459 .mobile\:pl-1{padding-left:4px}}.gps-489506237155640459 .\[\&_\*\]\:max-w-full *{max-width:100%}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gSSFqiv4T8"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-3xl);--pl:15px;--pb:var(--g-s-2xl);--pr:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFEFB;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gSSFqiv4T8 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gMUm2AjY8y relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="goOBRr6aqK"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:#FFFEFB;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="goOBRr6aqK mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gaARvLE021 relative flex flex-col"
    >
      
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-carousel.js" defer="defer"></script>
    <gp-carousel  id="gp-root-carousel-gsMR2Kfdb2-{{section.id}}" class=" "  gp-data='{"id":"gsMR2Kfdb2-{{section.id}}","setting":{"arrow":{"desktop":false},"arrowCustom":"<svg height=\"100%\" width=\"100%\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" fill=\"currentColor\"><path d=\"M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z\"></path></svg>","autoplay":true,"autoplayTimeout":2,"childItem":["Slide 1","Slide 2","Slide 3","Slide 4","Slide 5","Slide 6"],"controlOverContent":{"desktop":true},"dot":{"desktop":false,"mobile":false,"tablet":false},"dotActiveColor":{"desktop":"line-3"},"dotColor":{"desktop":"bg-1"},"enableDrag":false,"loop":{"desktop":true},"pauseOnHover":true,"slidesToShow":{"desktop":6,"mobile":3,"tablet":5},"vertical":{"desktop":false}},"styles":{"adaptiveHeight":{"desktop":true},"fullWidth":{"desktop":true},"height":{"desktop":"300px"},"spacing":{"desktop":"30","mobile":"14"},"width":{"desktop":"300px"}}}' style="">
      <div class="hidden aspect-square w-[12px] rounded-full shadow-md"></div>
      <div
        
        class="relative mx-auto my-0 tablet:px-0 max-w-full mobile:px-0 gp-carousel-wrapper mobile:block tablet:block block gsMR2Kfdb2"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--h:auto;--w:100%;--w-tablet:100%;--w-mobile:100%;visibility:hidden"
      >
        <div
          class="h-full"
        >
          <div id="gp-carousel-gsMR2Kfdb2-{{section.id}}" class="gem-slider h-full overflow-hidden">
            
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      parentTag="Carousel"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      class="gem-slider-item w-full gem-slider-item- gTA9dT0AJJ"
    >
      <div
    
    role="presentation"
    class="group/image gI7CsUuEcD"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--shadow:none;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
    >
      <div
        class="pointer-events-auto h-full"
        
      >
        <img
    quality="70" title
    draggable="false"
    class="inline-block w-full h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/bca35532-df7a-41ca-b007-0e6cd1489b1d/-/format/auto/-/preview/3000x3000/-/quality/lighter/Brand%201.png" data-srcset="https://ucarecdn.com/bca35532-df7a-41ca-b007-0e6cd1489b1d/-/format/auto/-/preview/3000x3000/-/quality/lighter/Brand%201.png 768w,https://ucarecdn.com/bca35532-df7a-41ca-b007-0e6cd1489b1d/-/format/auto/-/preview/3000x3000/-/quality/lighter/Brand%201.png 1024w,https://ucarecdn.com/bca35532-df7a-41ca-b007-0e6cd1489b1d/-/format/auto/-/preview/3000x3000/-/quality/lighter/Brand%201.png 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="340" height="226" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:340/226;--aspect-tablet:340/226;--aspect-mobile:340/226;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
      </div>
    </figure>
  </div>
    </div>
  
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      parentTag="Carousel"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      class="gem-slider-item w-full gem-slider-item- gHVpBx-M5Q"
    >
      <div
    
    role="presentation"
    class="group/image glC41P8-K_"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--shadow:none;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
    >
      <div
        class="pointer-events-auto h-full"
        
      >
        <img
    quality="70" title
    draggable="false"
    class="inline-block w-full h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/41fe6a99-bd0b-4899-96f2-99d6a600dbcf/-/format/auto/-/preview/3000x3000/-/quality/lighter/Brand%202.png" data-srcset="https://ucarecdn.com/41fe6a99-bd0b-4899-96f2-99d6a600dbcf/-/format/auto/-/preview/3000x3000/-/quality/lighter/Brand%202.png 768w,https://ucarecdn.com/41fe6a99-bd0b-4899-96f2-99d6a600dbcf/-/format/auto/-/preview/3000x3000/-/quality/lighter/Brand%202.png 1024w,https://ucarecdn.com/41fe6a99-bd0b-4899-96f2-99d6a600dbcf/-/format/auto/-/preview/3000x3000/-/quality/lighter/Brand%202.png 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="340" height="226" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:340/226;--aspect-tablet:340/226;--aspect-mobile:340/226;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
      </div>
    </figure>
  </div>
    </div>
  
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      parentTag="Carousel"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      class="gem-slider-item w-full gem-slider-item- gN-r6cmsHH"
    >
      <div
    
    role="presentation"
    class="group/image gExsFA9G59"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--shadow:none;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
    >
      <div
        class="pointer-events-auto h-full"
        
      >
        <img
    quality="70" title
    draggable="false"
    class="inline-block w-full h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/4d8f964e-b2b8-4bd5-8628-51b6a977f864/-/format/auto/-/preview/3000x3000/-/quality/lighter/Brand%203.png" data-srcset="https://ucarecdn.com/4d8f964e-b2b8-4bd5-8628-51b6a977f864/-/format/auto/-/preview/3000x3000/-/quality/lighter/Brand%203.png 768w,https://ucarecdn.com/4d8f964e-b2b8-4bd5-8628-51b6a977f864/-/format/auto/-/preview/3000x3000/-/quality/lighter/Brand%203.png 1024w,https://ucarecdn.com/4d8f964e-b2b8-4bd5-8628-51b6a977f864/-/format/auto/-/preview/3000x3000/-/quality/lighter/Brand%203.png 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="340" height="226" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:340/226;--aspect-tablet:340/226;--aspect-mobile:340/226;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
      </div>
    </figure>
  </div>
    </div>
  
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      parentTag="Carousel"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      class="gem-slider-item w-full gem-slider-item- g_dh_QJlxq"
    >
      <div
    
    role="presentation"
    class="group/image gWYRXoT4PR"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--shadow:none;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
    >
      <div
        class="pointer-events-auto h-full"
        
      >
        <img
    quality="70" title
    draggable="false"
    class="inline-block w-full h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/4d8f964e-b2b8-4bd5-8628-51b6a977f864/-/format/auto/-/preview/3000x3000/-/quality/lighter/Brand%203.png" data-srcset="https://ucarecdn.com/4d8f964e-b2b8-4bd5-8628-51b6a977f864/-/format/auto/-/preview/3000x3000/-/quality/lighter/Brand%203.png 768w,https://ucarecdn.com/4d8f964e-b2b8-4bd5-8628-51b6a977f864/-/format/auto/-/preview/3000x3000/-/quality/lighter/Brand%203.png 1024w,https://ucarecdn.com/4d8f964e-b2b8-4bd5-8628-51b6a977f864/-/format/auto/-/preview/3000x3000/-/quality/lighter/Brand%203.png 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="340" height="226" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:340/226;--aspect-tablet:340/226;--aspect-mobile:340/226;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
      </div>
    </figure>
  </div>
    </div>
  
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      parentTag="Carousel"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      class="gem-slider-item w-full gem-slider-item- geFnF7vWhx"
    >
      <div
    
    role="presentation"
    class="group/image gOuBfWuLZn"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--shadow:none;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
    >
      <div
        class="pointer-events-auto h-full"
        
      >
        <img
    quality="70" title
    draggable="false"
    class="inline-block w-full h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/46044153-2c31-490d-a8cb-9b2d5acb93c1/-/format/auto/-/preview/3000x3000/-/quality/lighter/Brand%205.png" data-srcset="https://ucarecdn.com/46044153-2c31-490d-a8cb-9b2d5acb93c1/-/format/auto/-/preview/3000x3000/-/quality/lighter/Brand%205.png 768w,https://ucarecdn.com/46044153-2c31-490d-a8cb-9b2d5acb93c1/-/format/auto/-/preview/3000x3000/-/quality/lighter/Brand%205.png 1024w,https://ucarecdn.com/46044153-2c31-490d-a8cb-9b2d5acb93c1/-/format/auto/-/preview/3000x3000/-/quality/lighter/Brand%205.png 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="340" height="226" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:340/226;--aspect-tablet:340/226;--aspect-mobile:340/226;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
      </div>
    </figure>
  </div>
    </div>
  
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      parentTag="Carousel"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      class="gem-slider-item w-full gem-slider-item- gzbG8Tf4lU"
    >
      <div
    
    role="presentation"
    class="group/image gOas0Yc4bj"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--shadow:none;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
    >
      <div
        class="pointer-events-auto h-full"
        
      >
        <img
    quality="70" title
    draggable="false"
    class="inline-block w-full h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/196d0052-61fc-4085-8f44-4a01673c4d24/-/format/auto/-/preview/3000x3000/-/quality/lighter/Brand%206.png" data-srcset="https://ucarecdn.com/196d0052-61fc-4085-8f44-4a01673c4d24/-/format/auto/-/preview/3000x3000/-/quality/lighter/Brand%206.png 768w,https://ucarecdn.com/196d0052-61fc-4085-8f44-4a01673c4d24/-/format/auto/-/preview/3000x3000/-/quality/lighter/Brand%206.png 1024w,https://ucarecdn.com/196d0052-61fc-4085-8f44-4a01673c4d24/-/format/auto/-/preview/3000x3000/-/quality/lighter/Brand%206.png 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="340" height="226" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:340/226;--aspect-tablet:340/226;--aspect-mobile:340/226;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
      </div>
    </figure>
  </div>
    </div>
  
          </div>
        </div>
        
    <button
      class="gp-carousel-action-back gsMR2Kfdb2-{{section.id}} gp-carousel-arrow absolute h-6 w-6 cursor-pointer text-gray-500 disabled:cursor-default disabled:text-gray-300 data-[hidden=true]:!hidden !hidden tablet:!hidden mobile:!hidden left-4 tablet:left-4 tablet:translate-x-0 tablet:pl-1 mobile:left-4 mobile:translate-x-0 mobile:pl-1 rotate-180 tablet:rotate-180 mobile:rotate-180 top-1/2 -translate-y-1/2 tablet:top-1/2 tablet:-translate-y-1/2 mobile:top-1/2 mobile:-translate-y-1/2"
      
    >
      <span 
  class="inline-flex h-6 w-6 items-center justify-center"
  style=""
  >
    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"></path></svg>
    </span>
    </button>
  

        
    <button
      class="gp-carousel-action-next gsMR2Kfdb2-{{section.id}} gp-carousel-arrow absolute h-6 w-6 cursor-pointer text-gray-500 disabled:cursor-default disabled:text-gray-300 data-[hidden=true]:!hidden !hidden tablet:!hidden mobile:!hidden right-4 tablet:right-4 tablet:translate-x-0 tablet:pl-1 mobile:right-4 mobile:translate-x-0 mobile:pl-1 rotate-0 tablet:rotate-0 mobile:rotate-0 bottom-1/2 translate-y-1/2 tablet:bottom-1/2 tablet:translate-y-1/2 mobile:bottom-1/2 mobile:translate-y-1/2"
      
    >
      <span 
  class="inline-flex h-6 w-6 items-center justify-center"
  style=""
  >
    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"></path></svg>
    </span>
    </button>
  
        
        <div
    class="items-center justify-center gap-2 text-center gp-carousel-dot-container gp-carousel-dot-container-gsMR2Kfdb2-{{section.id}} hidden flex-row w-full mt-2 tablet:!hidden tablet:flex-row tablet:w-full tablet:mt-2 mobile:!hidden mobile:flex-row mobile:w-full mobile:mt-2" ></div>
      </div>
    </gp-carousel>
  
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-489506237155640459 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://builder.gempages.net/instant/hyperlink/edit?type=section&section_id=489506237155640459&template_id=489506193853645963)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
