<div
  class="container py-8"
  style="background-color: {{ section.settings.background_color }}">
  <div class="flex justify-between">
    <div
      class="text-lg"
      style="color: {{ section.settings.text_color }}">
      {{ section.settings['top-left-text'] }}
    </div>
    <div
      class="text-lg"
      style="color: {{ section.settings.text_color }}">
      {{ section.settings['top-right-text'] }}
    </div>
  </div>

  {% if section.blocks != empty %}
    <div class="h-40 flex flex-col items-center justify-center w-full">
      <div style="color: {{ section.settings.text_color }}">
        Wir akzeptieren
      </div>
      <div class="flex space-x-4 items-center mt-4">
        {% for block in section.blocks %}
          <div class=" w-28 h-11 border border-solid border-neutral-300 rounded-lg">
            <img
              src="{{ block.settings.image | img_url: 'master' }}"
              alt=""
              width="112"
              height="44"
              class="h-full w-full border rounded-lg"
              loading="eager">
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Subfooter",
  "class": "shopify-section--text-with-icons",
  "disabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#000000"
    },
    {
      "type": "color_background",
      "id": "background_color",
      "label": "Background Color",
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "top-left-text",
      "label": "Top Left Text"
    },
    {
      "type": "text",
      "id": "top-right-text",
      "label": "Top Right Text"
    }
  ],
  "max_blocks": 8,
  "blocks": [
    {
      "type": "item",
      "name": "Payment Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Subfooter",
      "blocks": []
    }
  ]
}
{% endschema %}
